 html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  }
  .burguer-button{
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    border-radius: 50%;
    background-color: rgba(59, 59, 59,0.9);
    color: white;
    left: 5px;
    top: 5px;

  }
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    background-color: black;
  }
  .navbar{
    width: auto;
  }

  .navbar ol{
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar a{
    display: block;
    line-height: 100px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
  }

  .navbar a:hover{
    cursor: pointer;
    color: #23B5EF;
    transition: 0.4s;
    font-weight: bold;
    font-size: 22px;
  }

  .hero{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: radial-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .7) ), url(../images/fotoefectos.com_.jpg) , url(../images/miyamotoaonumathumbs.jpg) ; */
    background-image: radial-gradient(rgba(0, 0, 0, .4),rgba(0,0,0,.7)), url(../images/eiji_switch~2.jpg), url(../images/eiji-aonuma.pop.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #23B5EF;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    object-fit: cover;
}

.hero-title{
/* position: absolute; */
  /* top: 0; */
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  text-transform: uppercase;
}

.hero-subtitle{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
.myButton {
  background-color:transparent;
  border-radius:28px;
  border:2px solid #23B5EF;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  /* font-family:Arial; */
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  border-color:white;
}
.myButton:active {
  position:relative;
  top:1px;
}
.works{
  display: flex;
  flex-wrap: wrap;
}
.first_steps , .more_recently {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  background-color: rgb(59, 59, 59);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  font-weight: 300;
  text-shadow: 4px 4px 10px rgba(150, 150, 150, 0.64);
}
.works i{
  text-shadow: initial;
  font-size: 50px;
  color: #23B5EF;
}
.first_steps{
  background-image: url(../images/Marvelous.png);
  justify-content: center;
  align-items: center;
}
.first_steps:hover{
  /* background-image: url(../images/Marvelous.png); */
  background-color: transparent;
}
.first_steps h3{
  /* margin-right: 70px; */
  letter-spacing: 8px;
}
.first_steps i{
  position: relative;
  /* right: 175px; */
}

.more_recently{
  background-image: url(../images/BOTW.jpg);
  justify-content: center;
  align-items: center;

}
.more_recently:hover{
  background-color: transparent;
}

.more_recently h3{
  /* margin-left: 70px; */
  letter-spacing: 8px;
}
.more_recently i{
  position: relative;
  /* left: 175px; */
}
.about{
  /* height: 1000px; */
  display: flex;
  justify-content: flex-start;
  background-image: url(../images/miyamotoaonumathumbs.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(116, 114, 114);
  background-blend-mode: multiply;
  color: white;
}

.about-Container{
  flex-direction: column;
  /* position: relative; */
  /* top: 100px; */
  /* left: 100px; */
  max-width: 330px;
  margin-left: 100px;
}

.about h3{
  font-weight: 700;
  font-size: 5em;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 0; */
  margin-bottom: 30px;
}
.about p{
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 1.28em;
}
.social{
  text-align: center;
}
.about i {
  font-size: 50px;
  margin: 20px 10px;
  color:white
}
.about i:hover
{
  color: #23B5EF;
}
.Achievements{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* height: 500px; */
  /* border: 2px solid red; */
  background-color: rgb(59, 59, 59);
  background-image: url(../images/Miyamoto-and-Aonuma.png);
  background-size: cover;
  background-position:center;
  /* background-attachment: fixed; */
  background-blend-mode: multiply;
}

.Achievements h2{
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  font-size: 4em;
  letter-spacing: 12px;
  font-weight: 700;
  margin-bottom: 0;

}
.archivement{
  color: white;
  max-width: 250px;
}

.archivement h3{
  width: 150px;
  font-size: 3em;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}
.archivement p{
  font-size: 1.8em;
  text-transform: uppercase;
}

.team{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  /* height: 100vh; */
  padding: 20px 0 85px 0;
  background-image: url(../images/1856252.jpg);
  background-repeat: no-repeat;
  background-color: rgb(95, 95, 95);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  /* border: 2px solid red; */
  color: white;
}
.team-title{
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 0;
}
.team-description{
 max-width: 385px;
  font-size: 1.3em;
  text-align: center;
}

.team h3{
  font-size: 2em;
  letter-spacing: 12px;
  margin-top: 2em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.team-address, .team-hoursDescription{
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* height: 300px; */
  background-color: #13e1ff;
  /* color:#cc46a4 */
  color: black;
}
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 50%; */
  
}
.contact-container h3{
  font-size: 1.7em;
  letter-spacing: 10px;
  /* margin-bottom: 1em; */
}
.contact-container p{
  width: 250px;
  font-size: 1.3em;
  font-weight: 700;
  
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}
.contact-form input{
  /* color: black; */
  width: 250px;
  background: transparent;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid black;
  outline: none;
}
.contact-form input::placeholder{
  color: black;
}
.contact-form textarea{
  width: 250px;
  height: 70px;
  padding: 5px;
  background: transparent;
  border: 2px solid black;
  outline: none;
}
.contact-form textarea::placeholder{
  color: black;
}
.contact-form button{

  padding: 10px;
  margin-top: 10px;
  background-color: black;
  color: #13e1ff;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  
}
.footer{
  height: 50px;
  background-color: #51d1f6;
  color: black;
}
.footer p{
  margin: 0 ;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width:1024px)
{
  /* .hero-subtitle{ 
    font-size: 20px;
    letter-spacing: 5px;
  } */
}
@media screen and (max-width:767px)
{
  .burguer-button{
    display: block;
  }
  .header {
    height: auto;
  }
  .navbar{
    position: fixed;
    /* width: 100%; */
    background-color: rgba(35, 181, 239,0.8);
    
    z-index: 3;
    top:0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: .3s;
  }
  .navbar.is-active{
    left: 0;
  }
  .navbar ol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: auto;
    /* margin:0 auto ; */
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
  }
  .header li{
    width: 100%;
    text-align: center;

  }
  .header a{
    line-height: 50px;
    text-decoration: underline;
    font-size: 2em;
  }
  .header a:hover{
    color: rgba(59, 59, 59,0.9);
  }
  .hero-title{
    font-size: 50px;
  }
  .hero-subtitle{
    letter-spacing: 3px;
  }


  .first_steps , .more_recently{
    width: 100%;
  }
  .archivement{
    min-width: 300px;
  }
}
@media screen and (max-width:468px)
{
  /* .header{
    display: none;
  } */

  .more_recently h3{
    font-size: 1em;
  }
  .about{
    justify-content: center;
  }
  .about-Container{
    margin-left: 0;
    
  }
  .about h3{
    font-size:3em;
  }
  .about p{
    font-size: 0.9em;
    padding: 10px;
  }
  .Achievements{
    justify-content: center;
    align-items: center;

  }
  .Achievements h2{
    font-size: 2em;
    letter-spacing: 5px;
    text-align: left;
  }
  .archivement h3{
    font-size: 2em;
    margin: 0 auto;
  }
  .archivement p{
    font-size: 0.8em;
    text-align: center;
  }
  .team h2{
    font-size: 4em;
    letter-spacing: 5px;
  }
  .team p{
    padding: 5px;
  }
}
@media screen and (max-width:320px){
  .hero-title{
    font-size: 30px;
  }
  .hero-subtitle{
    font-size: 15px;
  }

  .first_steps , .more_recently{
    font-size: 0.9em;
  }
  .works i{
    font-size: 30px;
  }
  .team h2{
    font-size: 3em;
  }
}